[Unit]
Description= This Platform Init service is to initialize platform.
Before=pmon.service
After=sysinit.target
Wants=fancontrol.service
DefaultDependencies=no

[Service]
ExecStart=/usr/sbin/platform_utility.py init
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
